@charset "UTF-8";
html {
  font-family: "Spartan", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  background: url(./images/bg-pattern-bottom-desktop.svg);
  background-size: cover;
  font-family: "Spartan", sans-serif;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 2.9rem;
  color: #502050;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

section {
  place-content: space-between;
  display: grid;
  grid-row-gap: 3rem;
  grid-template-areas: "title stars stars stars stars stars" "reviews reviews reviews reviews reviews reviews";
  grid-template-columns: 30rem minmax(auto, 1fr);
}

.section__title {
  color: #937b92;
  grid-area: title;
}

.section__star-rating {
  margin-left: auto;
  place-content: center;
  grid-area: stars;
  display: grid;
  grid-row-gap: 1.1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 3.7rem);
}

.star-rating__card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #f7f2f7;
  color: #502050;
  width: fit-content;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 10px;
}

.star-rating__card:before {
  text-align: center;
  font-size: 1.5rem;
  color: #ef9549;
  content: "★ ★ ★ ★ ★";
  margin-right: 1.7rem;
}

.star-rating__card_first {
  grid-column: 1/-1;
  grid-row: 1;
}

.star-rating__card_second {
  grid-column: 2/-1;
  grid-row: 2;
}

.star-rating__card_third {
  grid-column: 3/-1;
  grid-row: 3;
}

.section__review {
  padding-left: 0;
  grid-area: reviews;
  display: grid;
  grid-column-gap: 1rem;
  place-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-template-rows: repeat(16, 1fr);
}

.section__review > * {
  padding: 1.5rem;
  width: 20rem;
}

.review__card {
  display: grid;
  grid-template-areas: "pic pic name name name" "pic pic stat stat stat" "review review review review review";
  background-color: #502050;
  color: #f7f2f7;
  border-radius: 10px;
  padding: 2rem;
}

.review__card_first {
  grid-row: 1/13;
}

.review__card_second {
  grid-row: 2/14;
}

.review__card_third {
  grid-row: 3/15;
}

.card__picture {
  border-radius: 45px;
  width: 40%;
  margin: auto 0;
  grid-area: pic;
}

.card__name {
  margin-left: -2.7rem;
  margin-bottom: 0;
  grid-area: name;
}

.card__status {
  margin-left: -2.7rem;
  margin-top: 0.1rem;
  color: #ee68a4;
  grid-area: stat;
}

.card__review {
  margin-top: 1.4rem;
  grid-area: review;
}

@media screen and (max-width: 1440px) {
  section {
    grid-row-gap: 3rem;
    grid-template-areas: "title" "stars" "reviews";
  }

  ul {
    padding-inline-start: 0;
  }

  .section__star-rating {
    margin: 0;
    place-content: center;
    grid-area: stars;
    display: grid;
    grid-row-gap: 1.1rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 3.7rem);
  }

  .star-rating__card {
    display: flex;
    padding: 0;
    flex-direction: column;
    width: 100%;
    justify-self: center;
  }

  .star-rating__card_first {
    grid-column: 1;
    grid-row: 1;
  }

  .star-rating__card_second {
    grid-column: 1;
    grid-row: 2;
  }

  .star-rating__card_third {
    grid-column: 1;
    grid-row: 3;
  }

  .section__review {
    margin: 0 auto;
    padding-left: 0;
    grid-area: reviews;
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 0;
    place-content: center;
    grid-template-rows: repeat(3, 1fr);
  }

  .review__card_first {
    grid-row: 1;
  }

  .review__card_second {
    grid-row: 2;
  }

  .review__card_third {
    grid-row: 3;
  }
}

/*# sourceMappingURL=style.css.map */
